*.log
*.deb
box:
.vagrant
*.vmdk
*lck
NAS/ansible/group_vars/ldap/vault.yml
RIPv2-and-OSPF/project-files/**/*.txt
*c7200_i[1-9]_*
*ghost
ilt_2023010200_*
.vscode
Canary-deployment-and-vault/script/*.pub
