DO $$
BEGIN
  IF NOT EXISTS ( SELECT FROM pg_roles WHERE rolname = 'vault_admin' ) THEN
    CREATE ROLE vault_admin WITH LOGIN PASSWORD '{{ vault_admin }}';
  END IF;
END
$$;

ALTER ROLE vault_admin WITH CREATEROLE;

GRANT CONNECT ON DATABASE preserve TO vault_admin;

GRANT USAGE ON SCHEMA public TO vault_admin WITH GRANT OPTION;

GRANT SELECT, INSERT, UPDATE, DELETE 
  ON TABLE public.client, public.voiture, public.place, public.reserver, public.flyway_schema_history
  TO vault_admin WITH GRANT OPTION;

GRANT USAGE, SELECT 
  ON SEQUENCE public.reserver_idreserv_seq
  TO vault_admin WITH GRANT OPTION;