[global]
workgroup       = LAB
server string   = NAS Lab Server
netbios name    = nas
security        = user
passdb backend  = ldapsam:ldaps://{{ ldap_server_ip }}

ldap suffix     = {{ ldap_base_dn }}
ldap admin dn   = cn=admin,{{ ldap_base_dn }}
ldap ssl        = start tls
tls cafile      = {{ nas_ca_trust_dir }}/ldap-ca.crt

log file        = /var/log/samba/log.%m
log level       = 1

[public]
path          = /srv/shares/public
valid users   = @linux @windows
read only     = no
browseable    = yes
create mask   = 0664
directory mask = 0775

[secure]
path          = /srv/shares/secure
valid users   = @admins
read only     = no
browseable    = no
create mask   = 0660
directory mask = 0770