[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0
local_net=192.168.10.0/24
local_net=10.8.0.0/24

[endpoint-template](!)
type=endpoint
context=internal
disallow=all
allow=ulaw
allow=alaw
direct_media=no

[0351234567](endpoint-template)
auth=0351234567-auth
aors=0351234567

[0351234567-auth]
type=auth
auth_type=userpass
username=0351234567
password={{ phone1_pwd }}

[0351234567]
type=aor
max_contacts=1
remove_existing=yes

[0352345678](endpoint-template)
auth=0352345678-auth
aors=0352345678

[0352345678-auth]
type=auth
auth_type=userpass
username=0352345678
password={{ phone2_pwd }}

[0352345678]
type=aor
max_contacts=1
remove_existing=yes

