global
    log /dev/log local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend vault_front
    bind *:8200
    mode tcp
    default_backend vault_back

backend vault_back
    mode tcp
    balance roundrobin
    option httpchk GET /v1/sys/health
    http-check expect status 200

    server vault-1 192.168.10.11:8200 check inter 3s rise 2 fall 3
    server vault-2 192.168.10.12:8200 check inter 3s rise 2 fall 3

listen stats
    bind *:9000
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
